$picture-size: 120px;

.divider {
  width: 100%;
  max-width: 760px;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  margin: auto;
}

/* Hero container */
#team-hero {
  position: relative;
  left: 0;
  right: 0;
  width: 100vw;
  overflow: hidden;
  text-align: center;
  margin-bottom: 48px;

  .bg {
    $radius: 8px;
    position: absolute;
    left: -$radius;
    top: -$radius;
    bottom: -$radius;
    right: -$radius;
    background-image: url(../assets/team_hero.jpg);
    background-size: cover;
    filter: blur($radius) brightness(50%);
    z-index: -1;
    background-position: center;
  }

  .cover-image {
    width: 100%;
    max-width: 100vh;
  }

  .heading {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    color: #fafafa;
  }
}

#groups {
  margin: 0 0 64px 0;
}

/* Group picture container */
.group-container {
  position: relative;

  &:first-of-type {
    padding-top: 24px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.35);
  }


  > .bg-solid,
  > .bg-gradient {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  > .bg-solid {
    opacity: 0.35;
  }

  > .bg-gradient {
    background: radial-gradient(circle at center, rgba(255, 255, 255, 1), transparent);
  }

  .group {
    max-width: 760px;
    width: 100%;
    position: relative;
    text-align: center;
    display: block;
    margin: auto;
    padding: 0 0 36px 0;

    .photo-container {
      position: relative;
      .curtains {
        position: absolute;
        left: -100vw;
        right: -100vw;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.15);
      }
    }
  }

  img {
    max-width: 860px;
    width: 100%;
    z-index: 99;
    position: relative;
    border-radius: 3px;
  }

  /* Names label */
  .names {
    color: rgba(250, 250, 250, 0.75);
    max-width: 85%;
    text-align: center;
    margin: auto;
    line-height: 175%;

    span {
      color: #fafafa;
    }
  }

  .caption {
    color: rgba(255, 255, 255, 0.75);
    font-size: 24px;
    padding-bottom: 18px;
    border-bottom: 1px solid rgba(250, 250, 250, 0.15);
  }
}

#team-list {
  /* Member picture */
  list-style: none;
  padding: 0;


  .member {
    display: grid;
    margin-bottom: 36px;

    grid-template-rows: auto;
    grid-template-columns: $picture-size auto;
    grid-column-gap: 18px;

    text-align: left;

    div {
      grid-row: 1;
    }
      
    .picture {
      grid-column: 1;

      width: $picture-size;
      height: $picture-size;
      border-radius: 50%;
  
      display: inline-block;
      background-size: cover;
    }

    .name {
      margin: 8px 0 0 0;
      white-space: nowrap;
      font-family: 'Share Tech Mono', monospace;
    }

    .role {
      margin: 0;

      .icon {
        width: 24px;
        height: 24px;
        margin-right: 6px;
        background-size: cover;
        display: inline-block;
        position: relative;
        top: 6px;
      }
    }

    .email-link {
      background: #2E7D32;
      padding: 4px 8px;
      border-radius: 4px;
      position: relative;
      top: 4px;
      padding-top: 2px;
      margin-top: 8px;
      display: inline-block;
      color: #fafafa;
      font-size: 15px;
      text-decoration: none;
    }

    &:nth-child(even) {
      grid-template-columns: auto $picture-size;
      text-align: right;

      .picture {
        grid-column: 2;
      }

      .about {
        grid-column: 1;
      }
    }
  }
}

$grid-size: 320px;

/* Start diplaying members in a grid. */
@media (min-width: 768px) {
  #team-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, $grid-size);
    grid-template-rows: repeat(auto-fill, 250px);
    max-width: $grid-size * 3;
    margin: 0 auto;

    .member {
      text-align: center !important;
      display: block;
    }
  }
}