/* Global styles */
body {
  margin: 0;
  padding: 0;
  min-width: 360px;
  font-family: sans-serif;
  color: #424242;
  background: #fafafa;
  font-family: 'Open Sans', sans-serif;
}

section:not(.full-width) {
  max-width: 980px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.bg-shape.textured {
  background: #1B5E20;
  background-image: url(./assets/circuit.png);
  background-size: cover;
}

.padded {
  padding: 24px;
}

h1 {
  font-weight: 300;
  color: #616161;
}

/* e-mail display or field. */
.email {
  padding: 6px 12px;
  border: 1px dashed #BDBDBD;
  background: #fafafa;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 17px;
  border-radius: 8px;
  display: inline-block;
  margin-top: 8px;
}

/* Task indicator */
@keyframes task-indicator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

$task-indicator-size: 24px;

.task-indicator {
  width: 36px;
  height: 36px;
  animation: task-indicator 1s linear 0s infinite;
  background: url(./assets/spinner.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;

  &.blue {
    background-image: url(./assets/spinner_blue.png);
  }
}